.content_wrapper {
    height: 100%;
    background-color: white;

    .bar_title {

        padding: 5px;

    }

    .bar_title p {
        background: #D7D7D7;
        font-weight: 600;
        padding-left: 5px;
        margin-bottom: 0px;

    }


    .selector {
        margin: 15px 5px;


    }

    .wrapper_select_bot_in {
        margin-top: 10px;
        padding: 12px;
        border: 1px solid gray;
        border-radius: 5px;
    }

    .wrapper_select_bot_in::after {
        position: absolute;
        content: 'Добавить контрольную точку';
        font-size: 14px;
        font-weight: 600;
        top: 284px;
        left: 55px;
        background: white;
        padding: 3px;
    }

    .wrapper_select_top {
        padding: 20px;
        border: 1px solid gray;
        border-radius: 5px;
    }

    .wrapper_select_top::after {
        position: absolute;
        content: 'Параметры';
        font-size: 15px;
        font-weight: 600;
        top: 34px;
        left: 35px;
        background: white;
        padding: 3px;
    }

    .wrapper_select_bot {
        padding: 20px;
        border: 1px solid gray;
        border-radius: 5px;

    }

    .wrapper_select_bot::after {
        position: absolute;
        content: 'Состав маршрута';
        font-size: 15px;
        font-weight: 600;
        top: 252px;
        left: 35px;
        background: white;
        padding: 3px;

    }

    ul {
        margin: 0;
        padding: 0;

    }

    li {

        list-style: none;
        line-height: 40px;


    }

    .select_item {
        float: right;
        width: 450px;
        height: 40px;
        outline: none;

    }

    .title_li {}


    .button_itemm {

        font-size: 12px;
    }

    .controll_set_wrapper {
        display: grid;
        grid-template-columns: 8fr 3fr 1fr;
        grid-gap: 4px
    }

    .controll_set {
        height: 40px;
        border: none;
        border: 2px solid #D7D8DB;
        outline: none;
    }

    .tude {
        padding: 10px 0;
        align-items: center;
        text-align: center;
    }

    .footer_confirm_buttom {
        text-align: center;
        padding: 10px 0;
        margin-bottom: 10px;
    }

    .scroll {
        overflow-y: scroll;
    }

    .tabs {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: relative;
    }

    .tabs:after {
        content: "";
        clear: both;
        display: block;
        height: 240px;
    }

    .tabs li {
        float: left;
    }

    .tabs li>input {
        display: none;
    }

    .tabs li>label {
        display: inline-block;
        border: 1px solid #999;
        align-items: center;
        display: flex;
        height: 30px;
        line-height: 30px;
        padding: 5px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .tabs li:last-child>label {
        border-right-width: 1px;
    }

    .tabs .tab-content {
        display: none;
        position: absolute;
        left: 0;

        border: 1px solid #999;
        height: 88%;
        width: 100%;
        overflow-y: auto;
    }

    /* Функциональность: */

    .tabs li>input:checked+label {
        background-color: #999;
    }

    .tabs li>input:checked~.tab-content {
        display: block;
    }
}